<header>
	<h1>af<%= @book.title %></h1>
</header>
<div class="main">
	<div class="sidebar">
		<%= link_to "Library", books_path %>
	</div>
	<div class="content">
		<%= @html.html_safe %>
	</div>
	<div class="sidebar">
		<ul>
			<li><%= link_to "Caslon", '#' %></li>
			<li><%= link_to "Gill Sans", '#' %></li>
			<li><%= link_to "Minion", '#' %></li>
		</ul>
		<ul>
			<li><%= link_to "A", '#' %></li>
			<li><%= link_to "A", '#' %></li>
			<li><%= link_to "A", '#' %></li>
		</ul>
	</div>
</div>
<footer>
	Page <%= @reading.current_page %>
</footer>
