<header>
	<h1 class="title"><%= @book.title %></h1>
</header>
<div class="main">
	<div id="left-bar">
		<%= search_field_tag :search, "", placeholder: "Search" %>
		<%= link_to "Library", books_path %>
	</div>
	<div class="content">
		<%= @html.html_safe %>
	</div>
	<div id="right-bar">
		<ul id="FontFamily" class="options">
			<li><%= link_to "Palatino", '#', style: 'font-family: Palatino;' %></li>
			<li style="margin-bottom: 6px;"><%= link_to "Charter", '#', style: 'font-family: Charter;' %></li>
			<li><%= link_to "Gill Sans", '#', style: 'font-family: Gill Sans' %></li>
		</ul>
		<ul id="FontSize" class="options">
			<li><%= link_to "A", '#', style: 'font-size: 18px;',  'data-size' => '18px' %></li>
			<li><%= link_to "A", '#', style: 'font-size: 22px;', 'data-size' => '22px' %></li>
			<li><%= link_to "A", '#', style: 'font-size: 26px;' , 'data-size' => '26px' %></li>
		</ul>
		<ul id="Leading" class="options">
			<li><%= link_to "&#9776;".html_safe, '#', style: 'font-size: 18px; vertical-align: 2px;', 'data-spacing' => '1.2em' %></li>
			<span style="margin-left: 2px"> </span>
			<li><%= link_to "&#9776;".html_safe, '#', style: 'font-size: 22px; vertical-align: 1px', 'data-spacing' => '1.35em' %></li>
			<span style="margin-left: 1px"> </span>
			<li><%= link_to "&#9776;".html_safe, '#', style: 'font-size: 26px;', 'data-spacing' => '1.5em' %></li>
		</ul>
		<ul id="Background" class="options">
			<li><%= link_to '', '#', style: 'background: #FAFAFA;' %></li>
			<li><%= link_to '', '#', style: 'background: #F9EDE0;' %></li>
			<li><%= link_to '', '#', style: 'background: #E6E6E6;' %></li>
		</ul>
	</div>
</div>
<footer>
	<% if @reading.current_page <= 1 %>
		<span>&laquo; Previous</span>
	<% else %>
		<span><%= link_to "&laquo; Previous".html_safe, url_for(page: @reading.current_page - 1), id: 'Previous' %></span>
	<% end %>
	<span>Page <%= @reading.current_page %></span>
	<% if @reading.current_page >= @num_pages %>
		<span>Next &raquo;</span>
	<% else %>
		<span><%= link_to "Next &raquo;".html_safe, url_for(page: @reading.current_page + 1), id: 'Next' %></span>
	<% end %>
</footer>
