<!DOCTYPE html>
<html>
<head>
  <title>Great Reads</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto+Slab' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <% if current_user %>
      <div class="sign-out">
        <%= current_user.name %>
        <%= link_to "(sign out)", signout_path, id: "sign_out" %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
